

body{
    background-color: black;
    background-image: url(newone.gif) ;
    overflow-y: hidden;
    overflow-x: hidden;
}

.stamp{
    position:fixed;
    display: flex;
    border-style: solid;
    border-color: white;
    height: 10%;
    background-color: black;
}

.logo{ 
    float: left;
    align-items: flex-start;
}

p1{
    position: relative;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a{
    text-decoration: underline;
    color: white;
}
