body{
    background-color: black;
    background-image: url(newone.gif) ;
}

.stamp{
    position: absolute;
    display: flex;
    border-style: solid;
    border-color: white;
    width: 45%;
    background-color: black;
}

.whole{
    display: flex;
    flex-direction: column;
}

.stills{
    float: right;
}

.still{
    display: block;
    height: 20%;
}

.logo{ 
    float: left;
    width: 22%;
}

p1{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

a{
    text-decoration: underline;
    color: white;
}
